<div class="card oh">
    <div class="card-body">
      <div class="d-flex m-b-30 align-items-center no-block">
        <h5 class="card-title ">Jährliche Ausgaben</h5>
        <div class="ml-auto">
          <select class="form-control" [(ngModel)]="viewModel.selectedCategory" (change)="onCategoryChanged($event)">
            <option *ngFor="let category of viewModel.barChartSelectableCategories" [value]="category">{{category}}</option>
          </select>
        </div>
      </div>
      <div mk-morris-js [options]='viewModel.barChartOptions' [data]='viewModel.barChartData' type='Bar'></div>
    </div>
    <div class="card-body bg-light">
      <div class="row text-center m-b-20">
        <div class="col-lg-4 col-md-4 m-t-20">
          <h2 class="m-b-0 font-light">&nbsp;</h2><span
            class="text-muted">&nbsp;</span>
        </div>
        <div class="col-lg-4 col-md-4 m-t-20">
          <h2 class="m-b-0 font-light"> &nbsp;</h2><span
            class="text-muted">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>